<div class="table-responsive mt-3">
    <table class="table">
        <thead>
                <tr>
                    <th>Serial Number</th>
                    <th>Brand</th>
                    <th>Owner's Name</th>
                    <th>Owner's Surname</th>
                </tr>
        </thead>

        <tbody>
            <tr *ngFor="let drone of drones">
                <td>{{drone.serialNumber}}</td>
                <td>{{drone.brand}}</td>
                <td>{{drone.ownerFirstName}}</td>
                <td>{{drone.ownerLastName}}</td>
                <td><button class="btn btn-primary" (click)="getDroneDetails(drone.id)">View</button></td>
                <td><button class="btn btn-primary" [hidden]="currentUserRole != 'dataentrymanager' && currentUserRole != 'systemadmin'" (click)="updateDroneDetails(drone.id)">Update</button></td>
                <td><button class="btn btn-primary" [hidden]="currentUserRole != 'systemadmin'" (click)="deleteDrone(drone.id)">Delete</button></td>
            </tr>
        </tbody>
    </table>
</div>