<form>

    <div class="form-group row">
      <label for="serialNumber" class="col-sm-2 col-form-label">Serial Number</label>
      
      <div class="col-sm-10">
        <input type="text" class="form-control" id="serialNumber">
      </div>
    </div>

    <div class="form-group row mt-3">
        <label for="modelNumber" class="col-sm-2 col-form-label">Model Number</label>

        <div class="col-sm-10">
            <input type="text" class="form-control" id="modelNumber">
        </div>
    </div>

    <div class="form-group row mt-3">
      <label for="brand" class="col-sm-2 col-form-label">Brand</label>

      <div class="col-sm-10">
        <select name="brand" id="brand">
            <option value="dji">DJI</option>
            <option value="Yuneec">Yuneec</option>
            <option value="UVify">UVify</option>
        </select>
      </div>
    </div>

    <div class="form-group row mt-3">
        <label for="model" class="col-sm-2 col-form-label">Model</label>

        <div class="col-sm-10">
            <input type="text" class="form-control" id="model">
        </div>
    </div>

    <div class="form-group row mt-3">
        <label for="ownerIdNumber" class="col-sm-2 col-form-label">Owner's ID Number</label>

        <div class="col-sm-10">
            <input type="text" class="form-control" id="ownerIdNumber">
        </div>
    </div>

    <div class="form-group row mt-3">
        <label for="ownerFirstName" class="col-sm-2 col-form-label">Owner's First Name</label>

        <div class="col-sm-10">
            <input type="text" class="form-control" id="ownerFirstName">
        </div>
    </div>

    <div class="form-group row mt-3">
        <label for="ownerLastName" class="col-sm-2 col-form-label">Owner's Last Name</label>

        <div class="col-sm-10">
            <input type="text" class="form-control" id="ownerLastName">
        </div>
    </div>

    <div class="form-group row mt-3">
        <label for="ownerContactNumberCountryCode" class="col-sm-2 col-form-label">Owner's Contact Number Country Code</label>

        <div class="col-sm-10">
            <input type="text" class="form-control" id="ownerContactNumberCountryCode">
        </div>
    </div>

    <div class="form-group row mt-3">
        <label for="ownerContactNumber" class="col-sm-2 col-form-label">Owner's Contact Number</label>

        <div class="col-sm-10">
            <input type="text" class="form-control" id="ownerContactNumber">
        </div>
    </div>

    <div class="form-group row mt-3">
        <label for="ownerEmail" class="col-sm-2 col-form-label">Owner's Email</label>

        <div class="col-sm-10">
            <input type="text" class="form-control" id="ownerEmail">
        </div>
    </div>


    <p class="mt-5">**************************************************************************************</p>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>