<h1 class="text-center">Add Drone</h1>

<form novalidate class="mt-3" [formGroup]="droneForm" (ngSubmit)="submitDroneForm()">
    <fieldset>
        <div class="form-group row">
        <label for="serialNumber" class="col-sm-2 col-form-label" >Serial Number</label>
        
        <div class="col-sm-10">
            <input type="text" 
            class="form-control" 
            id="serialNumber"
            formControlName="serialNumber"
            placeholder="Enter Serial Number">
            
            <span class="help-block" *ngIf="
            (droneForm.get('serialNumber').touched || droneForm.get('serialNumber').dirty) 
            && droneForm.get('serialNumber').errors">
                <span class="text-danger" *ngIf="droneForm.get('serialNumber').errors.required"><br>Field is required!</span>
            </span>

        </div>
        </div>

        <div class="form-group row mt-3">
            <label for="modelNumber" class="col-sm-2 col-form-label">Model Number</label>

            <div class="col-sm-10">
                <input type="text" 
                class="form-control" 
                id="modelNumber"
                formControlName="modelNumber"
                placeholder="Enter Model Number">

                <span class="help-block" *ngIf="
                (droneForm.get('modelNumber').touched || droneForm.get('modelNumber').dirty) 
                && droneForm.get('modelNumber').errors">
                    <span class="text-danger" *ngIf="droneForm.get('modelNumber').errors.required"><br>Field is required!</span>
                </span>
            </div>
        </div>

        <div class="form-group row mt-3">
        <label for="brand" class="col-sm-2 col-form-label">Brand</label>

        <div class="col-sm-10">
            <select name="brand" id="brand" formControlName="brand">
                <option value="dji">DJI</option>
                <option value="Yuneec">Yuneec</option>
                <option value="UVify">UVify</option>
                <option value="Hubsan">Hubsan</option>
                <option value="Parrot">Parrot</option>
                <option value="Freefly">Freefly</option>
            </select>

            <span class="help-block ml-3" *ngIf="
            (droneForm.get('brand').touched || droneForm.get('brand').dirty) 
            && droneForm.get('brand').errors">
                <span class="text-danger" *ngIf="droneForm.get('brand').errors.required"><br>Field is required!</span>
            </span>

        </div>
        </div>

        <div class="form-group row mt-3">
            <label for="model" class="col-sm-2 col-form-label">Model</label>

            <div class="col-sm-10">
                <input type="text" 
                class="form-control" 
                id="model"
                formControlName="model"
                placeholder="Enter Model">

                <span class="help-block" *ngIf="
                (droneForm.get('model').touched || droneForm.get('model').dirty) 
                && droneForm.get('model').errors">
                    <span class="text-danger" *ngIf="droneForm.get('model').errors.required"><br>Field is required!</span>
                </span>

            </div>
        </div>

        <div class="form-group row mt-3">
            <label for="ownerIdNumber" class="col-sm-2 col-form-label">Owner's ID Number</label>

            <div class="col-sm-10">
                <input type="text" 
                class="form-control" 
                id="ownerIdNumber"
                formControlName="ownerIdNumber"
                placeholder="Enter ID Number">

                <span class="help-block" *ngIf="
                (droneForm.get('ownerIdNumber').touched || droneForm.get('ownerIdNumber').dirty) 
                && droneForm.get('ownerIdNumber').errors">
                    <span class="text-danger" *ngIf="droneForm.get('ownerIdNumber').errors.required"><br>Field is required!</span>
                    <span class="text-danger" *ngIf="droneForm.get('ownerIdNumber').errors.pattern"><br>Must End with a alphabetical character!</span>
                </span>
            </div>
        </div>

        <div class="form-group row mt-3">
            <label for="ownerFirstName" class="col-sm-2 col-form-label">Owner's First Name</label>

            <div class="col-sm-10">
                <input type="text" 
                class="form-control" 
                id="ownerFirstName"
                formControlName="ownerFirstName"
                placeholder="Enter First Name">

                <span class="help-block" *ngIf="
                (droneForm.get('ownerFirstName').touched || droneForm.get('ownerFirstName').dirty) 
                && droneForm.get('ownerFirstName').errors">
                    <span class="text-danger" *ngIf="droneForm.get('ownerFirstName').errors.required"><br>Field is required!</span>
                </span>
            </div>
        </div>

        <div class="form-group row mt-3">
            <label for="ownerLastName" class="col-sm-2 col-form-label">Owner's Last Name</label>

            <div class="col-sm-10">
                <input type="text" 
                class="form-control" 
                id="ownerLastName"
                formControlName="ownerLastName"
                placeholder="Enter Last Name">

                <span class="help-block" *ngIf="
                (droneForm.get('ownerLastName').touched || droneForm.get('ownerLastName').dirty) 
                && droneForm.get('ownerLastName').errors">
                    <span class="text-danger" *ngIf="droneForm.get('ownerLastName').errors.required"><br>Field is required!</span>
                </span>
            </div>
        </div>

        <div class="form-group row mt-3">
            <label for="ownerContactNumberCountryCode" class="col-sm-2 col-form-label">Owner's Contact Number Country Code</label>

            <div class="col-sm-10">
                <input type="text" 
                class="form-control" 
                id="ownerContactNumberCountryCode"
                formControlName="ownerContactNumberCountryCode"
                placeholder="Enter Country Code">

                <span class="help-block" *ngIf="
                (droneForm.get('ownerContactNumberCountryCode').touched || droneForm.get('ownerContactNumberCountryCode').dirty) 
                && droneForm.get('ownerContactNumberCountryCode').errors">
                    <span class="text-danger" *ngIf="droneForm.get('ownerContactNumberCountryCode').errors.required"><br>Field is required!</span>
                </span>
            </div>
        </div>

        <div class="form-group row mt-3">
            <label for="ownerContactNumber" class="col-sm-2 col-form-label">Owner's Contact Number</label>

            <div class="col-sm-10">
                <input type="text" 
                class="form-control" 
                id="ownerContactNumber"
                formControlName="ownerContactNumber"
                placeholder="Enter Contact Number">

                <span class="help-block" *ngIf="
                (droneForm.get('ownerContactNumber').touched || droneForm.get('ownerContactNumber').dirty) 
                && droneForm.get('ownerContactNumber').errors">
                    <span class="text-danger" *ngIf="droneForm.get('ownerContactNumber').errors.required"><br>Field is required!</span>
                    <span class="text-danger" *ngIf="droneForm.get('ownerContactNumber').errors.pattern"><br>Field must be numeric!</span>
                    <span class="text-danger" *ngIf="droneForm.get('ownerContactNumber').errors.min"><br>Field Cant Be A negative Number!</span>
                    <span class="text-danger" *ngIf="droneForm.get('ownerContactNumber').errors.minlength"><br>Field Must be at least 8 characters!</span>
                </span>
            </div>
        </div>

        <div class="form-group row mt-3">
            <label for="ownerEmail" class="col-sm-2 col-form-label">Owner's Email</label>

            <div class="col-sm-10">
                <input type="text" 
                class="form-control" 
                id="ownerEmail"
                formControlName="ownerEmail"
                placeholder="Enter Email">

                <span class="help-block" *ngIf="
                (droneForm.get('ownerEmail').touched || droneForm.get('ownerEmail').dirty) 
                && droneForm.get('ownerEmail').errors">
                    <span class="text-danger" *ngIf="droneForm.get('ownerEmail').errors.required"><br>Field is required!</span>
                    <span class="text-danger" *ngIf="droneForm.get('ownerEmail').errors.email"><br>Field must be a valid email!</span>
                </span>
            </div>
        </div>

    </fieldset>

    <p class="mt-5">**************************************************************************************</p>

    <button type="submit" [disabled]="!droneForm.valid" class="btn btn-primary">Submit</button>
  </form>